@font-face {
    font-family: Pacifico;
    src: url(../webfonts/Pacifico-Regular.ttf);
}
body{
    --bs-btn-bg: #dc3535;
}
::selection{
    background-color: #faaa41;
}
.page-title{
    font-family: Pacifico;
    font-size: 50px;
    width: fit-content;
}
.page-title::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    height: 15px;
    z-index: -1;
    background-color: #faaa41;
}
.bg{
    background: #f7ecde;
}
.alert-info{
    width: fit-content;
}
.sub-title h2 {
    width: fit-content;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.border-dote{
    border-bottom: #000 dotted 2px;
    
}
.fa-pen{
    cursor: pointer;
}